/* 
Convenciones que utlizan cuando se trabaja con Estilos, buenas practicas
1. Posicionamiento posocion fit,
2. Modelo de Caja (Box Model), margin, size
3. Tipografía (fuentes, tamañano de fuentes, tipo, etc)
4. Visuales (border-radios, shadow, etc)
5. Otros ó Miscelaneos
*/
:root {
  /* Colores */
  --bitcoin-orange: #f7931a;
  --Soft-Orange: #ffe9d4;
  --Secondary-Blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --warm-black-1: #282623;
  --Grey: #bababa;
  --off-White: #e6e6e6;
  --Just-White: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(208deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}
.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header--title-container h1 {
  font-size: 2.2rem; /* Tamaño de la fuente 24px*/
  font-weight: bold; /* Peso de la fuente */
  line-height: 2.6rem; /* Dimensión entre lineas */
  color: var(--Just-White);
}
.header--title-container p {
  margin-top: 25px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--Soft-Orange);
}
.header--title-container .header--button {
  position: absolute;
  /* Asi tambien se puede centrar el botón */
  /*  left: calc(50% - 118px); */
  /* o de esta forma */
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-White);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16); /* Sombra */
  border: none; /* si llega a existir un borde definido */
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none; /* quitamos la linea inferior */
  color: var(--warm-black);
}
.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('./assets/icons/down-arrow.svg');
}
main {
  width: 100%;
  height: auto;
  background-color: var(--off-White);
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-exchange-container--title {
  width: 90%;
  min-width: 288px;/* podemos limitar que no se haga más pequeño a esto */
  max-width: 900px;/* limitamos el crecimiento no se va hacer más grade de 900px */
  margin: 0 auto;
}
.main-exchange-container .backgroundImg {
/* background-position : —nos permite decir en que parte de la pantalla poner la imagen
background-size : cover— la imagen se estira hasta cubrir toda la caja o contenedor
background-repeat : si la imagen de fondo es más pequeña que el sitio disponible, el
navegador repite la imagen en todas las direcciones hasta cubrir completamente el contenedor */
width: 200px;
height: 200px;
margin: 0 auto;/* posicionamiento en el centro */
margin-bottom: 50px;
background-image: url('./assets/images/bitcoin.svg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warm-black);
}
.main-exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}
.currency-table-container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}
.currency-table-container table {
  width: 100%;
  height: 100%;
}
.currency-table-container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500px;
  line-height: 1.9rem;
  color: var(--Grey);
  background-color: var(--Just-White);
}
.currency-table-container .table__top-left {
  border-radius: 15px 0 0 0;
}
.currency-table-container .table__top-right {
  border-radius: 0 15px 0 0;
}
.currency-table-container .table__bottom-left {
  border-radius: 0 0 0 15px;
}
.currency-table-container .table__bottom-right {
  border-radius: 0 0 15px 0;
}
.currency-table-container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
.currency-table-container .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("./assets/icons/trending-down.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency-table-container .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("./assets/icons/trending-up.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-currency-table .currency-table--date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--Soft-Orange);
  border-radius: 8px;
}
.currency-table--date p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--warm-black);
}
.main-currency-table .currency-table--title__second-table {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--Secondary-Blue);
}
.main-currency-table .currency-table--date__second-table {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color:#E7F5FF;
  border-radius: 8px;
}
.currency-table--date__second-table p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--warm-black);
}
.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}
.product-detail--papa-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 20px);/* lo deja en la mitad pero le resta la mitad de width para que se corra un poco más a la izq */
  background-image: url("./assets/icons/batata.svg");
}
.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;/* Centra el texto dentro del contenedor */
}
.product-detail--title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--Just-White);
}
.product-detail--title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.product-cards--container {
  /* Aqui podemos ver como podemos agregar un scroll horizontal con CSS */
/*   display: flex;
  height: 190px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 10px; */
}
.product-detail-card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--warm-black-1);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail-card .icon-card {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.clock {
  background-image: url("./assets/icons/clock.svg");
}
.product--card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--Just-White);
}
.product--card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;;
}
.eye {
  background-image: url("./assets/icons/eye.svg");
}
.money {
  background-image: url("./assets/icons/dollar-sign.svg");
}
.check {
  background-image: url("./assets/icons/check-circle.svg");
}
.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url("./assets/images/bitcoinbaby2x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--Just-White);
  text-align: center;
}
.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}
.plans--title{
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}
.plans--title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warm-black);
}
.plans--title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
.plans-container--slider {
  /* Aqui podemos ver como podemos agregar un scroll horizontal con CSS */
  display: flex;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 10px;
}
.plans-container--card {
  position: relative;/* para generar el efecto flotando de la siguiente clase con absolute */
  scroll-snap-align: center;
  width: 70%;
  min-width: 190px;
  max-width: 300px;
  height: 250px;
  margin: 50px auto 0;
  padding: 0 15px;
  background-color: var(--Just-White);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.recommended {
  position: absolute;/* para dejarlo de modo flotante */
  width: 120px;
  height: 31px;
  padding-top: 10px;
  top: -15px;
  left: calc(50% - 60px);
  font-size: 1.2rem;
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  color: var(--Just-White);
}
.plan-card--title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--warm-black);
}
.plan-card--price {
  padding: 10px 0;
  font-size: 5.3rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: var(--warm-black);
}
.plan-card--price sup {
  font-size: 1.2rem;
  font-weight: 300;
  position: absolute;
  top: 40px;
  left: calc(50% - 40px);/* Se pone con calc, ya que si no se pone cuando se aumenta el tamaño se mueve no queda fijo */
}
.plan-card--saving {
  font-size: 1.2rem;
  padding: 16px;
  color: #757575;
}
.plan-card--ca {
  width: 150px;
  height: 48px;
  margin-top: 1px;
  background-color: var(--off-White, #FAF8F7);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--warm-black);
}
.plan-card--ca span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("./assets/icons/orange-right-arrow.svg");
  vertical-align: text-bottom;
  margin-left: 5px;
}
footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}
footer section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
footer .left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;/* para quitar las viñetas */
}
.left {
  margin: 10px 0;
}
.left a {
  text-decoration: none;/* para quitar la lina baja */
  color: var(--Just-White);
}